body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/******************/
/* General Styles */
/******************/
.Nav {
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 4;
  border: 2px solid #fff;
}

.Panel {
  position: relative;
  width: 100%;
  padding: 1rem;
}

.PanelHeader h2 {
  color: #000000;
  font-family: "Kanit", sans-serif;
  font-size: 4rem;
  font-style: italic;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

.BluePanel .PanelHeader h2,
.BluePanel .PanelContent h3,
.BluePanel .PanelContent h4,
.BluePanel .PanelContent p,
.BluePanel .PanelButtonContainer .FakeDonateButton,
.YellowPanel .PanelHeader h2,
.YellowPanel .PanelContent h3,
.YellowPanel .PanelContent h4,
.YellowPanel .PanelContent p,
.YellowPanel .PanelButtonContainer .FakeDonateButton {
  color: #fff;
}

.BluePanel .PanelButtonContainer .FakeDonateButton,
.YellowPanel .PanelButtonContainer .FakeDonateButton {
  border-color: #fff;
}

.Panel .second-line-header {
  margin-top: -48px;
}

.PanelContent p {
  font-size: 1.5rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #000000;
  max-width: 800px;
  margin: 1rem auto;
  text-align: left;
  padding: 0 2rem;
}

.PanelContent {
  margin: 2rem 0;
}

.PanelButtonContainer {
  margin: 2rem 0;
}

.YellowPanel {
  background-color: #ffd20c;
}

.BluePanel {
  background-color: #5bbeff;
}

.ImagePanel {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.FlexPanel {
  display: flex;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.full-height {
  height: 95%;
}

.padded {
  padding: 1rem;
}

.is-hidden {
  display: none;
}

.centered {
  text-align: center;
}

/***************************/
/* Specific Section Styles */
/***************************/
.MovieTitle {
  color: #ffffff;
  font-family: "Kanit", sans-serif;
  font-size: 6.5vw;
  font-size: 6rem;
  font-style: italic;
  font-weight: 800;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.MovieTitlePanel {
  overflow: hidden;
}

.FakeDonateButton {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 2rem;
  padding: 0.5rem 2rem;
}

.FakeDonateButton--yellow {
  background-color: #ffd20c;
  color: #fff;
  border-color: #ffd20c;
}

.SvgContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.SvgContainer svg {
  position: relative;
}

/* Record SVG CSS */
.SvgContainer .RecordSvg {
  top: 20%;
  height: 60%;
}

.Spinner {
  animation-name: spin;
  animation-duration: 7500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 7500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 7500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 7500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

.RecordSvg .cls-7 {
  font-family: Arimo-Bold,Arimo,sans-serif;
  font-weight: 700;
}

.RecordSvg .cls-4 {
  letter-spacing: -.04em;
}

.RecordSvg .cls-5 {
  letter-spacing: -.02em
}

.RecordSvg .cls-6 {
  letter-spacing: -.07em
}

.RecordSvg .cls-7 {
  font-size: 8px
}

.SvgContainer .TruckSvg {
  height: 100%;
}

.IceCreamTruckPanel {
  height: 15%;
}

.IceCreamTruckPanel .FakeButtonContainer {
  display: flex;
  justify-content: center;
}

.IceCreamTruckPanel .FakeDonateButton {
  border: 2px solid #fff;
  border-radius: 2px;
  font-size: 2rem;
}

.IceCreamTruckPanel .FakeDonateButton:hover,
.IceCreamTruckPanel .FakeDonateButton:active,
.IceCreamTruckPanel .FakeDonateButton:focus {
  color: #5bbeff;
  border: 2px solid #5bbeff;
}

.TruckPath-2 {
  fill: #35befe;
}

.TruckPath-3 {
  fill: #a4e1fe;
}

.TruckSvg {
  width: 60%;
}

.InnerTruckSvgContainer {
  width: 50%;
  margin: 0 auto;
}

.TotalRaisedContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.TruckSvg, .TotalRaisedContainer {
  margin-top: -70px;
}

.TotalRaisedContainer h3,
.TotalRaisedContainer h4 {
  margin: 0;
  text-transform: uppercase;
}

.TotalRaised {
  font-size: 3rem;
}

.Divider {
  margin: 0 2rem;
}

.Divider .TotalRaisedGoal {
  color: #ffd20c !important;
}

.TotalRaisedGoal {
  font-size: 2rem;
}

.PersonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Person {
  padding: 1rem;
  margin-top: 2rem;
  color: #000;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  width: 33%;
  min-width: 320px;
}

.PersonImage {
  height: 360px;
  width: 300px;
}

.PersonName {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
  margin-top: 2rem;
}

.PersonRole {
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.Panel .PersonDescription {
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

.BudgetPanelGraph {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.PongPanel {
  padding: 0;
}

/*****************/
/* Media Queries */
/*****************/
@media (max-width: 1060px) {
  .MovieTitle {
    font-size: 8rem;
    font-size: 12vw;
  }

  .TruckSvg {
    width: 75%;
  }

  .Panel {
    width: 100%;
  }
}

@media (max-width: 990px) {
  .Person {
    width: 50%;
  }
}

@media (max-width: 850px) {
  .TruckSvg {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .SvgContainer .RecordSvg {
    top: 20%;
    height: 60%;
  }

  .TruckSvg, .TotalRaisedContainer {
    margin-top: -40px;
  }

  .TotalRaised {
    font-size: 2rem;
  }

  .TotalRaisedGoal {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .Panel h2 {
    font-size: 2.75rem;
  }
  
  .PanelContent p {
    font-size: 1rem;
  }
}

@media (max-width: 490px) {
  .SvgContainer .RecordSvg {
    height: 50%;
    top: 25%;
  }
}
